@CHARSET "UTF-8";
div.ofk-cnt {
	width:100%;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-family: verdana;
}