@CHARSET "UTF-8";
body {
	background-color: lightyellow;
	background-image: url("../images/ofkpubg.png");
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
}
.ofk-max-width {
	width: 1000px;
}
.ofk-sbox-height {
	height: 355px;
}