body {
	background: white;
	width:100%;
}
table.list_of_correspondent {
	border: 2px solid blue;
    font:normal normal normal 12px /normal Verdana,Tahoma,Arial,Sans-serif;
    background-color:lightyellow;
    width:100%;
}
table.list_of_correspondent th {
	border: 1px solid blue;
	background-color: blue;
	color: white;
	padding-left: 1ex;
	padding-right: 1ex;
	padding-top: 2px;
	padding-bottom: 2px;
}
table.list_of_correspondent td {
	font-family: Verdana, Tahoma, Courier new;
	font-size: 12px;
	border: 1px solid blue;
	background-color: azure;
	color: navy;
	padding-left: 1ex;
	padding-right: 1ex;
	padding-top: 2px;
	padding-bottom: 2px;
	width:16%;
}
h1 {
	font:normal normal bold 18px /normal New,Verdana,Tahoma,Arial,Sans-serif;
}
div.content {
	overflow:visible;
}
li {
	font:normal normal normal 12px /normal New,Verdana,Tahoma,Arial,Sans-serif;
}